<template>
  <div class="spinner-block large-spinner-block">
    <div class="bulb-spinner-container large-spinner-container">
      <div class="ray ray-1"></div>
      <div class="ray ray-2"></div>
      <div class="ray ray-3"></div>
      <div class="ray ray-4"></div>
      <div class="ray ray-5"></div>
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="-1 10 122 122"
        xml:space="preserve"
      >
        <g>
          <path class="line" d="M46.44,106.66c0.68,0.01,1.25-0.54,1.26-1.22c0.11-7.67-3.79-20.11-8.75-28.24c-0.36-0.58-1.12-0.77-1.7-0.41
            c-0.58,0.36-0.77,1.12-0.41,1.7c4.73,7.76,8.49,19.75,8.39,26.92C45.21,106.09,45.76,106.65,46.44,106.66z"/>
          <path class="line" d="M67.4,131c0.68,0,1.24-0.55,1.24-1.24s-0.55-1.24-1.24-1.24H52.59c-0.68,0-1.24,0.55-1.24,1.24
            S51.9,131,52.59,131H67.4z"/>
          <path class="line" d="M60.65,35.32C45,35.32,32.3,47.71,32.3,63.01c0,4.05,0.89,7.97,2.58,11.57c0.2,0.43,0.64,0.71,1.12,0.71
            l46.55,0c-5.42,7.81-10.11,21.68-9.99,30.14c0,2.77-2.33,5.05-5.22,5.05H52.88c-3.3,0-5.99,2.62-5.99,5.87
            c0,3.25,2.69,5.87,5.99,5.87h16.17c0.68,0,1.24-0.55,1.24-1.24c0-0.68-0.55-1.24-1.24-1.24H52.88c-1.95,0-3.51-1.53-3.51-3.4
            c0-1.87,1.56-3.4,3.51-3.4h14.45c4.25,0,7.7-3.37,7.7-7.54c-0.12-8.68,5.3-23.84,10.96-30.57c0.68-0.81,0.11-2.04-0.95-2.04
            l-48.25,0c-1.33-3.07-2.03-6.39-2.03-9.8c0-13.92,11.58-25.22,25.87-25.22c14.3,0,25.87,11.3,25.87,25.22c0,2.26-0.3,4.47-0.9,6.61
            c-0.18,0.66,0.2,1.34,0.86,1.53c0.66,0.18,1.34-0.2,1.53-0.86c0.65-2.35,0.99-4.79,0.99-7.27C89,47.71,76.3,35.32,60.65,35.32z"/>
        </g>
      </svg>
    </div>
  </div>
</template>

<style scoped>
.spinner-block {
  position: relative;
  background-color: rgba(160, 160, 160, 0.7);
  border-radius: 10px;
}
.large-spinner-block {
  width: 80px;
  height: 80px;
}
.bulb-spinner-container {
  position: absolute;
  bottom: 10px;
}
.large-spinner-container {
  width: 60px;
  height: 60px;
  left: 10px;
}
.line {
  fill: #ffffff;
}
.ray {
  position: absolute;
  background-color: #ffffff;
  transform-origin: 0% 50%;
  height: 1.8%;
  width: 1.8%;
  border-radius: 9999px; /* This trick ends up in taking only item height into consideration in getting the border radius */
}
.ray-1 {
  left: 22.5%;
  top: 33.5%;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  animation: ray-1-animation 2s infinite linear;
  -webkit-animation: ray-1-animation 2s infinite linear;
}
@keyframes ray-1-animation {
  0%,
  10% {
    opacity: 0;
    width: 1.8%;
  }
  11% {
    opacity: 1;
  }
  25%,
  90% {
    opacity: 1;
    width: 14%;
  }
  100% {
    opacity: 0;
    width: 14%;
  }
}
@-webkit-keyframes ray-1-animation {
  0%,
  10% {
    opacity: 0;
    width: 1.8%;
  }
  11% {
    opacity: 1;
  }
  25%,
  90% {
    opacity: 1;
    width: 14%;
  }
  100% {
    opacity: 0;
    width: 14%;
  }
}
.ray-2 {
  left: 32%;
  top: 20%;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  animation: ray-2-animation 2s infinite linear;
  -webkit-animation: ray-2-animation 2s infinite linear;
}
@keyframes ray-2-animation {
  0%,
  25% {
    opacity: 0;
    width: 1.8%;
  }
  26% {
    opacity: 1;
  }
  40%,
  90% {
    opacity: 1;
    width: 13%;
  }
  100% {
    opacity: 0;
    width: 13%;
  }
}
@-webkit-keyframes ray-2-animation {
  0%,
  25% {
    opacity: 0;
    width: 1.8%;
  }
  26% {
    opacity: 1;
  }
  40%,
  90% {
    opacity: 1;
    width: 13%;
  }
  100% {
    opacity: 0;
    width: 13%;
  }
}
.ray-3 {
  left: 49.5%;
  top: 14%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  animation: ray-3-animation 2s infinite linear;
  -webkit-animation: ray-3-animation 2s infinite linear;
}
@keyframes ray-3-animation {
  0%,
  40% {
    opacity: 0;
    width: 1.8%;
  }
  41% {
    opacity: 1;
  }
  55%,
  90% {
    opacity: 1;
    width: 13%;
  }
  100% {
    opacity: 0;
    width: 13%;
  }
}
@-webkit-keyframes ray-3-animation {
  0%,
  40% {
    opacity: 0;
    width: 1.8%;
  }
  41% {
    opacity: 1;
  }
  55%,
  90% {
    opacity: 1;
    width: 13%;
  }
  100% {
    opacity: 0;
    width: 13%;
  }
}
.ray-4 {
  left: 67%;
  top: 20%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  animation: ray-4-animation 2s infinite linear;
  -webkit-animation: ray-4-animation 2s infinite linear;
}
@keyframes ray-4-animation {
  0%,
  55% {
    opacity: 0;
    width: 1.8%;
  }
  56% {
    opacity: 1;
  }
  70%,
  90% {
    opacity: 1;
    width: 13%;
  }
  100% {
    opacity: 0;
    width: 13%;
  }
}
@-webkit-keyframes ray-4-animation {
  0%,
  55% {
    opacity: 0;
    width: 1.8%;
  }
  56% {
    opacity: 1;
  }
  70%,
  90% {
    opacity: 1;
    width: 13%;
  }
  100% {
    opacity: 0;
    width: 13%;
  }
}
.ray-5 {
  left: 77%;
  top: 33.5%;
  animation: ray-5-animation 2s infinite linear;
  -webkit-animation: ray-5-animation 2s infinite linear;
}
@keyframes ray-5-animation {
  0%,
  70% {
    opacity: 0;
    width: 1.8%;
  }
  71% {
    opacity: 1;
  }
  85%,
  90% {
    opacity: 1;
    width: 14%;
  }
  100% {
    opacity: 0;
    width: 14%;
  }
}
@-webkit-keyframes ray-5-animation {
  0%,
  70% {
    opacity: 0;
    width: 1.8%;
  }
  71% {
    opacity: 1;
  }
  85%,
  90% {
    opacity: 1;
    width: 14%;
  }
  100% {
    opacity: 0;
    width: 14%;
  }
}
</style>
