<template>
  <button class="back-button">
    <img class="position-absolute back-icon" src="@/assets/icons/leftArrow.svg" />
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CloseButton',
});
</script>

<style scoped>
.back-button {
  width: 68px;
  height: 68px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 34px;
  border-style: none !important;
  transition: all 0.3s ease 0s;
}
.back-button:active {
  transform: scale(0.9, 0.9);
  filter: brightness(0.8);
}
.back-icon {
  top: 17px;
  left: 23px;
  width: 16px;
  height: 32px;
}
</style>
