<template>
  <img class="back-arrow" src="@/assets/icons/arrowBack.svg" />
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BackButtonMobile',
});
</script>

<style scoped>
.back-arrow {
  width: 24px;
  height: 24px;
}
</style>
