<template>
  <button class="close-button">
    <img class="position-absolute cross-icon" src="@/assets/icons/cross.svg" />
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CloseButton',
});
</script>

<style scoped>
.close-button {
  width: 47px;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 24px;
  border-style: none !important;
  transition: all 0.3s ease 0s;
}
.close-button:active {
  transform: scale(0.9, 0.9);
  filter: brightness(0.8);
}
.cross-icon {
  top: 15px;
  left: 15px;
  width: 17px;
  height: 17px;
}
</style>
