<template>
  <b-dropdown
    :right="true"
  >
    <template #button-content>
      <img class="more-button-icon" src="@/assets/icons/moreIcon.svg" />
    </template>
    <b-dropdown-item
      v-for="action in customActions"
      :key="action.key"
      @click.native="$emit('custom-action', action.key)"
    >
      {{ action.label }}
    </b-dropdown-item>
    <b-dropdown-divider v-if="customActions.length > 0"></b-dropdown-divider>
    <b-dropdown-item @click.native="selectAnotherRoom">Select another area/room</b-dropdown-item>
    <b-dropdown-item variant="danger" @click.native="reset">Reset</b-dropdown-item>
  </b-dropdown>
</template>

<script lang="ts">
import Vue from 'vue';

import { CustomDropdownAction } from '@/interfaces/dropdown/CustomDropdownAction';

export default Vue.extend({
  name: 'MoreButton',
  props: {
    customActions: {
      type: Array as () => CustomDropdownAction[],
      default: () => [],
    },
  },
  methods: {
    selectAnotherRoom() {
      this.$store.commit('resetToAreas');
      this.$router.push({ name: 'AreaSelector'});
    },
    reset() {
      this.$store.commit('dropState');
      this.$router.push({ name: 'Start'});
    },
  },
});
</script>

<style lang="scss">

.more-button-icon {
  @media (max-width: 992px) {
    width: 55px;
    height: 55px;
  }
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:focus, .btn-secondary.focus {
  background-color: rgba(0, 0, 0, 0.0) !important;
  border-color: rgba(0, 0, 0, 0.0) !important;
  box-shadow: none !important;
  padding: 0 !important;
  transition: all 0.3s ease 0s;
}
.b-dropdown > .btn-secondary {
  background-color: rgba(0, 0, 0, 0.0) !important;
  border-color: rgba(0, 0, 0, 0.0) !important;
  box-shadow: none !important;
  padding: 0 !important;
  transition: all 0.3s ease 0s;
}
.b-dropdown > .btn-secondary:active {
  transform: scale(0.9, 0.9);
  filter: brightness(0.8);
}
.dropdown-toggle::after {
  content: none;
}
</style>
