<template>
  <b-button
    variant="outline-light"
    class="button-block d-flex justify-content-center align-items-center"
    @click="$emit('click')"
  >
    <span class="button-title">
      {{ title }}
    </span>
  </b-button>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'OutlineRoundedButton',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>
.button-block {
  width: 225px;
  height: 44px;
  border-radius: 28px;
}
.button-title {
  max-width: 200px;
  color: white;
}
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:hover {
  background-color: rgba(0, 0, 0, 0.0) !important;
}
</style>
