<template>
  <b-button
    variant="primary"
    class="button-block d-flex justify-content-center align-items-center"
  >
    <span class="button-title">
      {{ title }}
    </span>
  </b-button>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'RoundedButton',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
});
</script>

<style scoped>
.button-block {
  width: 225px;
  height: 44px;
  border-radius: 28px;
  background-color: #0089cb !important;
  border-color: #0089cb !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}
.button-block:active {
  box-shadow: none !important;
}
.button-title {
  max-width: 200px;
  color: white;
}
</style>
