<template>
  <div class="w-100 h-100 d-flex justify-content-center position-relative">
    <div class="d-flex flex-column areas-block justify-content-start position-relative">
      <back-button-mobile class="d-lg-none my-3" @click.native="back" />
      <back-button
        class="d-none d-lg-block position-absolute area-selector-back-button"
        @click.native="back"
      />
      <p class="building-name-label mb-4 mb-lg-1">{{ buildingName }}</p>
      <p class="area-selector-hint mb-3 mb-lg-4">Select an area</p>
      <area-row
        v-for="area in areas"
        :key="area.id"
        :area="area"
        @click.native="selectArea(area)"
      />
    </div>
    <transition name="fade">
      <control-mode-selector
        v-if="selectedArea != undefined"
        :area="selectedArea"
        @area-mode="selectAreaMode"
        @room-mode="selectRoomMode"
        @back="selectArea(undefined)"
      />
    </transition>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import first from 'lodash/first';

import BackButtonMobile from '@/components/buttons/BackButtonMobile.vue';
import BackButton from '@/components/buttons/BackButton.vue';
import AreaRow from '@/components/areas/AreaRow.vue';
import ControlModeSelector from '@/components/areas/ControlModeSelector.vue';

import { Buildings } from '@/graphqlRequests/queries/Buildings';
import { BuildingTopologyWithRoomNames } from '@/graphqlRequests/queries/BuildingTopologyWithRoomNames';
import { generateKey } from '@/helpers/StringGenerator';
import { AreaWithRoomNames } from '@/interfaces/areas/AreaWithRoomNames';
import { ControlMode } from '@/enums/ControlMode';

export default Vue.extend({
  name: 'AreaSelector',
  components: {
    BackButtonMobile,
    BackButton,
    AreaRow,
    ControlModeSelector,
  },
  data(): {
    buildings: Buildings.ContentDefinition[];
    buildingTopology: BuildingTopologyWithRoomNames.ContentDefinition | undefined;
    selectedArea: AreaWithRoomNames | undefined;
  } {
    return {
      buildings: [],
      buildingTopology: undefined,
      selectedArea: undefined,
    };
  },
  watch: {
    building(newValue: Buildings.ContentDefinition | undefined) {
      if (newValue != undefined) {
        this.$store.commit('setSelectedBuildingId', newValue.id);
      }
    },
  },
  apollo: {
    buildings: {
      query: Buildings.query,
      watchLoading(isLoading) {
        if (isLoading) {
          this.$store.commit('addLoadingProcess', this.buildingsLoadingKey);
        } else {
          this.$store.commit('stopLoadingProcess', this.buildingsLoadingKey);
        }
      },
    },
    buildingTopology: {
      skip(): boolean {
        return this.building == undefined;
      },
      query: BuildingTopologyWithRoomNames.query,
      variables(): BuildingTopologyWithRoomNames.VariablesDefinition {
        return {
          buildingId: this.building!.id,
        };
      },
      watchLoading(isLoading) {
        if (isLoading) {
          this.$store.commit('addLoadingProcess', this.buildingTopologyLoadingKey);
        } else {
          this.$store.commit('stopLoadingProcess', this.buildingTopologyLoadingKey);
        }
      },
    },
  },
  computed: {
    buildingsLoadingKey(): string {
      return generateKey();
    },
    buildingTopologyLoadingKey(): string {
      return generateKey();
    },
    building(): Buildings.ContentDefinition | undefined {
      return first(this.buildings);
    },
    buildingName(): string | undefined {
      return this.building?.name;
    },
    areas(): AreaWithRoomNames[] {
      return this.buildingTopology?.areas || [];
    }
  },
  methods: {
    back() {
      this.$store.commit('dropState');
      this.$router.push({ name: 'Start', });
    },
    selectArea(area: AreaWithRoomNames | undefined) {
      window.setTimeout(
        () => this.selectedArea = area,
        100,
      );
    },
    selectAreaMode() {
      if (this.selectedArea == undefined) {
        return;
      }
      this.$store.commit('setSelectedAreaId', this.selectedArea.id);
      this.$store.commit('setControlMode', ControlMode.AREA);
      this.selectedArea = undefined;
      window.setTimeout(
        () => this.$router.push({ name: 'ScenesSelector', }),
        100,
      );
    },
    selectRoomMode() {
      if (this.selectedArea == undefined) {
        return;
      }
      this.$store.commit('setSelectedAreaId', this.selectedArea.id);
      this.$store.commit('setControlMode', ControlMode.ROOM);
      this.selectedArea = undefined;
      window.setTimeout(
        () => this.$router.push({ name: 'RoomSelector', }),
        100,
      );
    },
  },
});
</script>

<style scoped lang="scss">

.areas-block {
  width: 780px;
  margin-left: 50px;
  margin-top: 90px;
  color: white;

  @media (max-width: 992px) {
    width: 85% !important;
    margin-left: 0px !important;
    margin-top: 20px !important;
  }
}
.area-selector-back-button {
  left: -110px;
}
.building-name-label {
  font-size: 36px;
  font-weight: bold;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 24px !important;
  }
}
.area-selector-hint {
  font-size: 16px;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 14px !important;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
