<template>
  <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <more-button
      class="area-control-more-button"
      :custom-actions="moreActions"
      @custom-action="customActionRequested"
    />
    <div class="d-flex flex-column area-control-block p-4 p-lg-5 justify-content-start">
      <p class="area-control-area-name-label">{{ areaName }}</p>
      <p class="area-control-building-name-label">{{ buildingName }}</p>
      <p class="area-control-hint mt-4 mt-lg-5">Scene control panel</p>
      <div class="d-flex flex-row flex-wrap justify-content-around">
        <scene-shortcut
          v-for="sceneShortcut in sceneShortcuts"
          :key="sceneShortcut.id"
          class="m-3"
          :scene-shortcut="sceneShortcut"
          :editing="editingMode"
          @activate="activateSceneShortcut(sceneShortcut)"
          @remove="removeSceneShortcut(sceneShortcut)"
        />
        <div
          v-if="!editingMode"
          class="area-control-add-new-block m-3"
          @click="addSceneShortcut"
        >
          <img src="@/assets/icons/addShortcutIcon.svg" />
        </div>
        <div
          v-else
          class="area-control-finish-editing-block d-flex align-items-center m-3"
        >
          <outline-rounded-button
            title="FINISH EDITING"
            @click="switchEditing"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import first from 'lodash/first';

import MoreButton from '@/components/buttons/MoreButton.vue';
import SceneShortcut from '@/components/scenes/SceneShortcut.vue';
import OutlineRoundedButton from '@/components/buttons/OutlineRoundedButton.vue';

import { BuildingTopologyWithAreaName } from '@/graphqlRequests/queries/BuildingTopologyWithAreaName';
import { generateKey } from '@/helpers/StringGenerator';
import { SceneShortcut as SceneShortcutDefinition } from '@/interfaces/scenes/SceneShortcut';
import { ApplyRoomScene } from '@/graphqlRequests/mutations/ApplyRoomScene';
import { CustomDropdownAction } from '@/interfaces/dropdown/CustomDropdownAction';

export default Vue.extend({
  name: 'AreaControl',
  components: {
    MoreButton,
    SceneShortcut,
    OutlineRoundedButton,
  },
  data(): {
    editingMode: boolean;
    buildingTopology: BuildingTopologyWithAreaName.ContentDefinition | undefined;
  } {
    return {
      editingMode: false,
      buildingTopology: undefined,
    };
  },
  apollo: {
    buildingTopology: {
      skip(): boolean {
        return (
          this.$store.state.selectedBuildingId == undefined
          || this.$store.state.selectedAreaId == undefined
        );
      },
      query: BuildingTopologyWithAreaName.query,
      variables(): BuildingTopologyWithAreaName.VariablesDefinition {
        return {
          buildingId: this.$store.state.selectedBuildingId,
          areaIds: [this.$store.state.selectedAreaId],
        };
      },
      watchLoading(isLoading) {
        if (isLoading) {
          this.$store.commit('addLoadingProcess', this.buildingTopologyLoadingKey);
        } else {
          this.$store.commit('stopLoadingProcess', this.buildingTopologyLoadingKey);
        }
      },
    },
  },
  computed: {
    buildingTopologyLoadingKey(): string {
      return generateKey();
    },
    areaName(): string | undefined {
      return first(this.buildingTopology?.areas || [])?.name;
    },
    buildingName(): string | undefined {
      return this.buildingTopology?.name;
    },
    sceneShortcuts(): SceneShortcutDefinition[] {
      return this.$store.state.sceneShortcuts;
    },
    moreActions(): CustomDropdownAction[] {
      return [
        { key: 'edit', label: 'Edit', }
      ];
    },
  },
  methods: {
    customActionRequested(actionKey: string) {
      switch (actionKey) {
      case 'edit':
        this.switchEditing();
        return;
      default:
        return;
      }
    },
    switchEditing() {
      this.editingMode = !this.editingMode;
    },
    addSceneShortcut() {
      this.$router.push({
        name: 'ScenesSelector',
        params: {
          back: 'AreaControl',
        },
      });
    },
    removeSceneShortcut(sceneShortcut: SceneShortcutDefinition) {
      this.$store.commit('removeSceneShortcut', sceneShortcut);
    },
    async activateSceneShortcut(sceneShortcut: SceneShortcutDefinition) {
      const loadingKey = generateKey();
      try {
        this.$store.commit('addLoadingProcess', loadingKey);
        for (const roomSceneId of sceneShortcut.sceneIds) {
          await this.$apollo.mutate<ApplyRoomScene.ResultDefinition, ApplyRoomScene.VariablesDefinition>({
            mutation: ApplyRoomScene.mutation,
            variables: {
              roomSceneId,
            },
          });
        }
      } catch (e) {
        return;
      } finally {
        this.$store.commit('stopLoadingProcess', loadingKey);
      }
    },
  },
});
</script>

<style scoped lang="scss">

.area-control-more-button {
  position: absolute;
  top: 30px;
  right: 30px;

  @media (max-width: 992px) {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    align-self: flex-end !important;
    margin-bottom: 15px !important;
    margin-right: 10px !important;
  }
}
.area-control-block {
  width: 730px;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  color: white;

  @media (max-width: 992px) {
    width: 90% !important;
  }
}
.area-control-area-name-label {
  font-size: 36px;
  font-weight: bold;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 20px !important;
    margin-top: 12px !important;
  }
}
.area-control-building-name-label {
  font-size: 16px;
  text-align: left;
}
.area-control-hint {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 16px;
  }
}
.area-control-add-new-block {
  width: 100px;
  height: 120px;
}
.area-control-finish-editing-block {
  height: 120px;
}
</style>
