<template>
  <div class="w-100 h-100 d-flex justify-content-center position-relative">
    <div class="d-flex flex-column room-selector-rooms-block justify-content-start position-relative">
      <back-button-mobile class="d-lg-none my-3" @click.native="back" />
      <back-button
        class="d-none d-lg-block position-absolute room-selector-back-button"
        @click.native="back"
      />
      <p class="room-selector-header mb-4 mb-lg-1">Select a room</p>
      <p class="room-selector-hint mb-3 mb-lg-4">Access the general control for single room</p>
      <room-row
        v-for="room in rooms"
        :key="room.id"
        :room="room"
        @click.native="selectRoom(room)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import first from 'lodash/first';

import BackButtonMobile from '@/components/buttons/BackButtonMobile.vue';
import BackButton from '@/components/buttons/BackButton.vue';
import RoomRow from '@/components/rooms/RoomRow.vue';

import { BuildingWithSelectedAreas } from '@/graphqlRequests/queries/BuildingWithSelectedAreas';
import { Room } from '@/interfaces/rooms/Room';
import { generateKey } from '@/helpers/StringGenerator';

export default Vue.extend({
  name: 'RoomSelector',
  components: {
    BackButtonMobile,
    BackButton,
    RoomRow,
  },
  data(): {
    buildingTopology: BuildingWithSelectedAreas.ContentDefinition | undefined;
  } {
    return {
      buildingTopology: undefined,
    };
  },
  apollo: {
    buildingTopology: {
      skip(): boolean {
        return (
          this.$store.state.selectedBuildingId == undefined
          || this.$store.state.selectedAreaId == undefined
        );
      },
      query: BuildingWithSelectedAreas.query,
      variables(): BuildingWithSelectedAreas.VariablesDefinition {
        return {
          buildingId: this.$store.state.selectedBuildingId,
          areaIds: [this.$store.state.selectedAreaId],
        };
      },
      watchLoading(isLoading) {
        if (isLoading) {
          this.$store.commit('addLoadingProcess', this.buildingTopologyLoadingKey);
        } else {
          this.$store.commit('stopLoadingProcess', this.buildingTopologyLoadingKey);
        }
      },
    },
  },
  computed: {
    buildingTopologyLoadingKey(): string {
      return generateKey();
    },
    rooms(): Room[] {
      return first(this.buildingTopology?.areas || [])?.rooms || [];
    },
  },
  methods: {
    back() {
      window.setTimeout(
        () => {
          this.$store.commit('resetControlMode');
          this.$store.commit('resetSelectedArea');
          this.$router.push({ name: 'AreaSelector', });
        },
        100,
      );
    },
    selectRoom(room: Room) {
      window.setTimeout(
        () => {
          this.$store.commit('setSelectedRoomId', room.id);
          this.$router.push({ name: 'RoomControl', });
        },
        100,
      );
    },
  },
});
</script>

<style scoped lang="scss">

.room-selector-rooms-block {
  width: 780px;
  margin-left: 50px;
  margin-top: 90px;
  color: white;

  @media (max-width: 992px) {
    width: 85% !important;
    margin-left: 0px !important;
    margin-top: 20px !important;
  }
}
.room-selector-back-button {
  left: -110px;
}
.room-selector-header {
  font-size: 36px;
  font-weight: bold;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 24px !important;
  }
}
.room-selector-hint {
  font-size: 16px;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 14px !important;
  }
}
</style>
