<template>
  <div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <more-button class="more-button" />
    <div class="control-block d-flex flex-column p-3 p-lg-5">
      <div class="room-control-name-switcher-block d-flex">
        <p class="flex-grow-1 room-control-room-name-label">{{ roomName }}</p>
        <b-form-checkbox
          switch
          size="lg"
          :checked="isOn"
          @change="toggleOnOff"
        >
        </b-form-checkbox>
      </div>
      <p class="room-control-hint mt-4 mt-lg-5">Brightness</p>
      <b-form-input
        id="brightness-slider"
        class="mt-3 mt-lg-4"
        type="range"
        :min="10"
        :max="100"
        :value="brightness"
        @change="updateBrightness"
      >
      </b-form-input>
      <p class="room-control-hint favorite-mode-hint">Favorite mode</p>
      <div class="d-flex room-control-favorites-block flex-wrap">
        <favorite-mode-button
          v-if="room != undefined"
          :favorite-mode="room.favorite1"
          :scenes="room.roomScenes"
          @click.native="activateFavorite(room.favorite1)"
        />
        <favorite-mode-button
          v-if="room != undefined"
          :favorite-mode="room.favorite2"
          :scenes="room.roomScenes"
          @click.native="activateFavorite(room.favorite2)"
        />
        <favorite-mode-button
          v-if="room != undefined"
          :favorite-mode="room.favorite3"
          :scenes="room.roomScenes"
          @click.native="activateFavorite(room.favorite3)"
        />
        <favorite-mode-button
          v-if="room != undefined"
          :favorite-mode="room.favorite4"
          :scenes="room.roomScenes"
          @click.native="activateFavorite(room.favorite4)"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import first from 'lodash/first';
import concat from 'lodash/concat';
import some from 'lodash/some';
import sumBy from 'lodash/sumBy';

import MoreButton from '@/components/buttons/MoreButton.vue';
import FavoriteModeButton from '@/components/rooms/FavoriteModeButton.vue';

import { BuildingWithFullLightsInfo } from '@/graphqlRequests/queries/BuildingWithFullRoomInfo';
import { generateKey } from '@/helpers/StringGenerator';
import { RoomWithLights } from '@/interfaces/rooms/RoomWithLights';
import { LightWithCurrentState } from '@/interfaces/lights/LightWithCurrentState';
import { LightStateInput } from '@/interfaces/lights/LightStateInput';
import { ChangeRoomState } from '@/graphqlRequests/mutations/ChangeRoomState';
import {
  FavoriteStateFields,
  FAVORITE_STATE_CUSTOM_COLOR_TYPENAME,
  FAVORITE_STATE_CUSTOM_WHITE_TYPENAME,
  FAVORITE_STATE_MOMENT_TYPENAME,
  FAVORITE_STATE_SCENE_TYPENAME,
  FAVORITE_STATE_STATUS_TYPENAME,
} from '@/graphqlRequests/fragments/FavoriteStateFragment';
import { ApplyRoomScene } from '@/graphqlRequests/mutations/ApplyRoomScene';

export default Vue.extend({
  name: 'RoomControl',
  components: {
    MoreButton,
    FavoriteModeButton,
  },
  data(): {
    buildingTopology: BuildingWithFullLightsInfo.ContentDefinition | undefined;
  } {
    return {
      buildingTopology: undefined,
    };
  },
  apollo: {
    buildingTopology: {
      skip(): boolean {
        return (
          this.$store.state.selectedBuildingId == undefined
          || this.$store.state.selectedAreaId == undefined
        );
      },
      query: BuildingWithFullLightsInfo.query,
      variables(): BuildingWithFullLightsInfo.VariablesDefinition {
        return {
          buildingId: this.$store.state.selectedBuildingId,
          areaIds: [this.$store.state.selectedAreaId],
        };
      },
      watchLoading(isLoading) {
        if (this.buildingTopology == undefined && isLoading) {
          this.$store.commit('addLoadingProcess', this.buildingTopologyLoadingKey);
        } else {
          this.$store.commit('stopLoadingProcess', this.buildingTopologyLoadingKey);
        }
      },
      pollInterval: 60 * 1000,
    },
  },
  computed: {
    buildingTopologyLoadingKey(): string {
      return generateKey();
    },
    roomId(): string | undefined {
      return this.$store.state.selectedRoomId;
    },
    room(): RoomWithLights | undefined {
      const area = this.buildingTopology && first(this.buildingTopology.areas);
      if (area == undefined || this.roomId == undefined) {
        return undefined;
      }
      return area.rooms.find((room) => room.id == this.roomId);
    },
    roomName(): string | undefined {
      return this.room?.name;
    },
    lights(): LightWithCurrentState[] {
      if (this.room == undefined) {
        return [];
      }
      return concat(
        this.room.lights,
        this.room.groups.flatMap((group) => group.lights),
      );
    },
    isOn(): boolean {
      return some(
        this.lights,
        (light) => light.currentState.state,
      );
    },
    brightness(): number {
      const turnedOnLights = this.lights.filter((light) => light.currentState.state && light.currentState.dimming != undefined);
      if (turnedOnLights.length == 0) {
        return 0;
      }
      const rawValue = sumBy(turnedOnLights, (light) => light.currentState.dimming || 0) / turnedOnLights.length;
      return Math.ceil(rawValue);
    },
  },
  methods: {
    async toggleOnOff(newValue: boolean) {
      const loadingKey = generateKey();
      try {
        this.$store.commit('addLoadingProcess', loadingKey);
        await this.updateRoomState({ state: newValue, });
      } catch (e) {
        return;
      } finally {
        this.$store.commit('stopLoadingProcess', loadingKey);
      }
    },
    async updateBrightness(newValue: string) {
      const loadingKey = generateKey();
      try {
        this.$store.commit('addLoadingProcess', loadingKey);
        await this.updateRoomState({ state: true, dimming: Number(newValue), });
      } catch (e) {
        return;
      } finally {
        this.$store.commit('stopLoadingProcess', loadingKey);
      }
    },
    async activateFavorite(mode: FavoriteStateFields.Definition) {
      const loadingKey = generateKey();
      try {
        this.$store.commit('addLoadingProcess', loadingKey);
        switch (mode.__typename) {
        case FAVORITE_STATE_STATUS_TYPENAME:
          await this.updateRoomState({ state: mode.status, });
          break;
        case FAVORITE_STATE_SCENE_TYPENAME:
          await this.updateRoomState({ state: true, sceneId: mode.sceneId, dimming: mode.specificDimming, speed: mode.speed, });
          break;
        case FAVORITE_STATE_CUSTOM_WHITE_TYPENAME:
          await this.updateRoomState({ state: true, temperature: mode.temperature, dimming: mode.dimming, })
          break;
        case FAVORITE_STATE_CUSTOM_COLOR_TYPENAME:
          await this.updateRoomState({ state: true, r: mode.r, g: mode.g, b: mode.b, cw: mode.cw, ww: mode.ww, dimming: mode.dimming, })
          break;
        case FAVORITE_STATE_MOMENT_TYPENAME:
          await this.activateMoment(mode.momentId);
          break;
        default:
          break;
        }
      } catch (e) {
        return;
      } finally {
        this.$store.commit('stopLoadingProcess', loadingKey);
      }
    },
    async updateRoomState(input: LightStateInput) {
      const areaId = this.$store.state.selectedAreaId;
      if (areaId == undefined || this.roomId == undefined) {
        return;
      }
      await this.$apollo.mutate<ChangeRoomState.ResultDefinition, ChangeRoomState.VariablesDefinition>({
        mutation: ChangeRoomState.mutation,
        variables: {
          areaId,
          roomId: this.roomId,
          state: input,
        },
      });
      window.setTimeout(
        () => {
          this.$apollo.queries.buildingTopology.refetch();
        },
        3000,
      );
    },
    async activateMoment(roomSceneId: string) {
      await this.$apollo.mutate<ApplyRoomScene.ResultDefinition, ApplyRoomScene.VariablesDefinition>({
        mutation: ApplyRoomScene.mutation,
        variables: {
          roomSceneId,
        },
      });
      window.setTimeout(
        () => {
          this.$apollo.queries.buildingTopology.refetch();
        },
        3000,
      );
    },
  },
});
</script>

<style lang="scss">

.more-button {
  position: absolute;
  top: 30px;
  right: 30px;

  @media (max-width: 992px) {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    align-self: flex-end !important;
    margin-bottom: 15px !important;
    margin-right: 10px !important;
  }
}
.control-block {
  width: 700px;
  height: 540px;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  color: white;

  @media (max-width: 992px) {
    width: 90% !important;
    height: 600px !important;
  }
}
.room-control-name-switcher-block {
  flex-direction: row;

  @media (max-width: 992px) {
    flex-direction: column-reverse !important;
    align-items: center;
    margin-top: 30px;
  }
}
.room-control-room-name-label {
  font-size: 36px;
  font-weight: bold;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 20px !important;
    margin-top: 12px !important;
  }
}
.room-control-hint {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 16px;
  }
}
.favorite-mode-hint {
  margin-top: 60px !important;
}
.room-control-favorites-block {
  justify-content: space-between;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #275e9f !important;
  border-color: #275e9f !important;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #52e0ff !important;
}
.custom-switch.b-custom-control-lg .custom-control-label::before, .input-group-lg .custom-switch .custom-control-label::before {
  left: -115px !important;
  width: 120px !important;
  height: 55px !important;
  border-radius: 28px !important;

  @media (max-width: 992px) {
    left: -70px !important;
    width: 90px !important;
    top: -20px !important;
    height: 40px !important;
    border-radius: 20px !important;
  }
}
.custom-switch.b-custom-control-lg .custom-control-label::after, .input-group-lg .custom-switch .custom-control-label::after {
  width: 48px !important;
  height: 48px !important;
  border-radius: 48px !important;
  top: 8px !important;
  left: -111px !important;

  @media (max-width: 992px) {
    width: 34px !important;
    height: 34px !important;
    border-radius: 17px !important;
    top: -17px !important;
    left: -67px !important;
  }
}
.custom-switch.b-custom-control-lg .custom-control-input:checked ~ .custom-control-label::after, .input-group-lg .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(65px) !important;

  @media (max-width: 992px) {
    transform: translateX(49px) !important;
  }
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
}
.custom-control-label::before {
  border-radius: 0px !important;
}

input[type="range"]::-webkit-slider-runnable-track {
 background: #52E0FF;
 height: 18px;
 border-radius: 9px;

  @media (max-width: 992px) {
    height: 12px !important;
    border-radius: 6px !important;
  }
}

input[type="range"]::-moz-range-track {
 background: #52E0FF;
 height: 18px;
 border-radius: 9px;

  @media (max-width: 992px) {
    height: 12px !important;
    border-radius: 6px !important;
  }
}
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 height: 68px;
 width: 68px;
 background: #0089CB;
 margin-top: -25px;
 border-radius: 50%;

  @media (max-width: 992px) {
    height: 48px !important;
    width: 48px !important;
    margin-top: -15px !important;
  }
}
input[type="range"]::-moz-range-thumb {
 height: 68px;
 width: 68px;
 background: #0089CB;
 margin-top: -25px;
 border-radius: 50%;

  @media (max-width: 992px) {
    height: 48px !important;
    width: 48px !important;
    margin-top: -15px !important;
  }
}
</style>
