<template>
  <div class="w-100 h-100 d-flex justify-content-center position-relative">
    <div class="d-flex flex-column scene-shortcut-name-block justify-content-start position-relative">
      <back-button-mobile class="d-lg-none my-3" @click.native="back" />
      <back-button
        class="d-none d-lg-block position-absolute scene-shortcut-name-back-button"
        @click.native="back"
      />
      <div class="d-flex scene-shortcut-name-header-block align-items-start justify-content-between">
        <div class="d-flex flex-column">
          <p class="scene-shortcut-name-header mb-2 mb-lg-1">Create a Scene shortcut</p>
          <p class="scene-shortcut-name-hint mb-4">A Scene shortcut can trigger multiple Scenes across multiple rooms</p>
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1 justify-content-center">
        <b-input
          placeholder="Shortcut name"
          v-model="name"
          maxlength="128"
        />
        <outline-rounded-button
          title="CREATE"
          class="align-self-center align-self-lg-end mt-5 mt-lg-4 scene-shortcut-name-save-button"
          :disabled="name.length == 0"
          @click="saveSceneShortcut"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import BackButtonMobile from '@/components/buttons/BackButtonMobile.vue';
import BackButton from '@/components/buttons/BackButton.vue';
import OutlineRoundedButton from '@/components/buttons/OutlineRoundedButton.vue';

export default Vue.extend({
  name: 'SceneShortcutName',
  components: {
    BackButtonMobile,
    BackButton,
    OutlineRoundedButton,
  },
  data(): {
    name: string;
  } {
    return {
      name: '',
    };
  },
  methods: {
    back() {
      this.$store.commit('resetSceneShortcutDraft');
      this.$router.push({
        name: 'ScenesSelector',
        params: this.$route.params,
      });
    },
    saveSceneShortcut() {
      this.$store.commit('saveSceneShortcutDraft', this.name);
      this.$router.push({ name: 'AreaControl', });
    },
  },
});
</script>

<style lang="scss">

.scene-shortcut-name-block {
  width: 730px;
  margin-top: 100px;
  color: white;

  @media (max-width: 992px) {
    width: 85% !important;
    margin-top: 20px !important;
  }
}
.scene-shortcut-name-back-button {
  left: -100px;
}
.scene-shortcut-name-header-block {
  flex-direction: row;

  @media (max-width: 992px) {
    flex-direction: column;
    margin-bottom: 25px;
  }
}
.scene-shortcut-name-header {
  font-size: 36px;
  font-weight: bold;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 24px !important;
  }
}
.scene-shortcut-name-hint {
  font-size: 16px;
  text-align: left;
}
.form-control {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 1px solid white !important;
  font-size: 24px !important;
  color: white !important;
  padding: 0 !important;

  @media (max-width: 992px) {
    font-size: 16px !important;
  }
}
textarea:focus, input:focus{
  outline: none !important;
  box-shadow: none !important;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
}
.scene-shortcut-name-save-button {
  @media (max-width: 992px) {
    margin-bottom: 200px !important;
  }
}
</style>
