<template>
  <div class="w-100 h-100 d-flex justify-content-center position-relative">
    <div class="d-flex flex-column scenes-selector-block justify-content-start position-relative">
      <back-button-mobile class="d-lg-none my-3" @click.native="back" />
      <back-button
        class="d-none d-lg-block position-absolute scenes-selector-back-button"
        @click.native="back"
      />
      <div class="d-flex scenes-selector-header-block align-items-center justify-content-between">
        <div class="d-flex flex-column">
          <p class="scenes-selector-header mb-2 mb-lg-1">Add Scene(s) to Presentation</p>
          <p class="scenes-selector-hint mb-4">Assign scenes to the shortcut</p>
        </div>
        <outline-rounded-button
          title="NEXT"
          :disabled="selectedSceneIds.length == 0"
          @click="saveSceneShortcut"
        />
      </div>
      <room-scenes
        v-for="room in rooms"
        :key="room.id"
        class="mb-4"
        :room="room"
        :selected-scene-ids="selectedSceneIds"
        @scene-clicked="(scene) => sceneClicked(scene, room)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import BackButtonMobile from '@/components/buttons/BackButtonMobile.vue';
import BackButton from '@/components/buttons/BackButton.vue';
import OutlineRoundedButton from '@/components/buttons/OutlineRoundedButton.vue';
import RoomScenes from '@/components/rooms/RoomScenes.vue';

import { BuildingTopologyWithRoomScenes } from '@/graphqlRequests/queries/BuildingTopologyWithRoomScenes';
import { generateKey } from '@/helpers/StringGenerator';
import { RoomScene, RoomWithScenes } from '@/interfaces/rooms/RoomWithScenes';

export default Vue.extend({
  name: 'ScenesSelector',
  components: {
    BackButtonMobile,
    BackButton,
    OutlineRoundedButton,
    RoomScenes,
  },
  data(): {
    buildingTopology: BuildingTopologyWithRoomScenes.ContentDefinition | undefined;
    selectedSceneIds: string[];
  } {
    return {
      buildingTopology: undefined,
      selectedSceneIds: [],
    };
  },
  apollo: {
    buildingTopology: {
      skip(): boolean {
        return (
          this.$store.state.selectedBuildingId == undefined
          || this.$store.state.selectedAreaId == undefined
        );
      },
      query: BuildingTopologyWithRoomScenes.query,
      variables(): BuildingTopologyWithRoomScenes.VariablesDefinition {
        return {
          buildingId: this.$store.state.selectedBuildingId,
          areaIds: [this.$store.state.selectedAreaId],
        };
      },
      watchLoading(isLoading) {
        if (isLoading) {
          this.$store.commit('addLoadingProcess', this.buildingTopologyLoadingKey);
        } else {
          this.$store.commit('stopLoadingProcess', this.buildingTopologyLoadingKey);
        }
      },
    },
  },
  computed: {
    buildingTopologyLoadingKey(): string {
      return generateKey();
    },
    rooms(): RoomWithScenes[] {
      const area = this.buildingTopology?.areas.find((buildingArea) => buildingArea.id === this.$store.state.selectedAreaId);
      return area?.rooms || [];
    },
  },
  methods: {
    back() {
      if (this.$route.params.back != undefined) {
        this.$router.push({ name: 'AreaControl', });
      } else {
        this.$store.commit('resetControlMode');
        this.$store.commit('resetSelectedArea');
        this.$router.push({ name: 'AreaSelector', });
      }
    },
    sceneClicked(scene: RoomScene, room: RoomWithScenes) {
      if (this.selectedSceneIds.includes(scene.id)) {
        this.selectedSceneIds = this.selectedSceneIds.filter((sceneId) => sceneId !== scene.id);
      } else {
        const roomScenes = room.roomScenes.map((roomScene) => roomScene.id);
        this.selectedSceneIds = this.selectedSceneIds
          .filter((sceneId) => !roomScenes.includes(sceneId))
          .concat(scene.id);
      }
    },
    saveSceneShortcut() {
      this.$store.commit('setSceneShortcutDraft', this.selectedSceneIds);
      this.$router.push({
        name: 'SceneShortcutName',
        params: this.$route.params,
      });
    },
  },
});
</script>

<style scoped lang="scss">

.scenes-selector-block {
  width: 780px;
  margin-left: 50px;
  margin-top: 70px;
  color: white;

  @media (max-width: 992px) {
    width: 85% !important;
    margin-left: 0px !important;
    margin-top: 20px !important;
  }
}
.scenes-selector-back-button {
  left: -100px;
}
.scenes-selector-header-block {
  flex-direction: row;

  @media (max-width: 992px) {
    flex-direction: column;
    margin-bottom: 25px;
  }
}
.scenes-selector-header {
  font-size: 36px;
  font-weight: bold;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 24px !important;
  }
}
.scenes-selector-hint {
  font-size: 16px;
  text-align: left;
}
</style>
