<template>
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex welcome-block position-relative">
      <div class="h-100 logo-block d-flex align-items-center justify-content-center flex-shrink-0">
        <img class="logo position-relative" src="@/assets/logo.svg" />
      </div>
      <div class="d-flex flex-column flex-grow-1 info-block p-4 p-lg-5 align-items-stretch justify-content-center">
        <p class="hint">
          WiZ Pro Control is a demonstration of an interface leveraging WiZ Pro API for custom control. It features a shortcut interface for a single room, or an interface to trigger multiple Scenes in one action.
        </p>
        <p class="header mt-3 mt-lg-4">
          Features
        </p>
        <div
          class="d-flex justify-content-start align-items-center mb-3"
          v-for="feature in features"
          :key="feature.id"
        >
          <img src="@/assets/icons/greenMark.svg" />
          <p class="feature-label ml-3 mb-0">{{ feature.title }}</p>
        </div>
        <rounded-button class="align-self-center m-4" title="START" @click.native="requestAuth" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import sha256 from 'crypto-js/sha256';

import RoundedButton from '@/components/buttons/RoundedButton.vue';

import { generateKey } from '@/helpers/StringGenerator';

interface AppFeature {
  id: number;
  title: string;
}

export default Vue.extend({
  name: 'Start',
  components: {
    RoundedButton,
  },
  computed: {
    features(): AppFeature[] {
      return [
        { id: 1, title: 'Quick control for your buildings', },
        { id: 2, title: 'Add your favorite scenes', },
      ];
    },
  },
  methods: {
    async requestAuth() {
      const host = process.env.VUE_APP_WIZ_PRO_DASHBOARD_HOST;
      const clientId = process.env.VUE_APP_WIZ_PRO_CLIENT_ID;
      const codeChallenge = this.generateCodeChallenge();
      const codeChallengeMethod = 'S256';
      const websiteUrl = `${host}/#/oauth/authorize`
        + `?client_id=${clientId}`
        + `&code_challenge=${codeChallenge}`
        + `&code_challenge_method=${codeChallengeMethod}`;
      window.open(websiteUrl, "_self");
    },
    generateCodeChallenge(): string {
      const codeVerifier = generateKey();
      this.$store.commit('setCodeVerifier', codeVerifier);
      const codeChallenge = sha256(codeVerifier).toString();
      return codeChallenge;
    },
  },
});
</script>

<style scoped lang="scss">

.welcome-block {
  width: 870px;
  height: 550px;

  @media (max-width: 992px) {
    position: relative;
    width: 80%;
    height: auto;
    flex-direction: column !important;
  }
}
.logo-block {
  width: 395px;
  background-color: white;
  border-radius: 16px 0px 0px 16px;

  @media (max-width: 992px) {
    width: 100%;
    height: 170px !important;
    border-radius: 16px 16px 0px 0px;
  }
}
.info-block {
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 0px 16px 16px 0px;
  color: white;
  text-align: left;

  @media (max-width: 992px) {
  border-radius: 0px 0px 16px 16px;
  }
}
.logo {
  @media (max-width: 992px) {
    width: 140px !important;
  }
}
.hint {
  font-size: 16px;
}
.header {
  font-size: 24px;
  font-weight: bold;
}
.feature-label {
  font-size: 16px;
  font-weight: bold;

  @media (max-width: 992px) {
    font-weight: normal;
  }
}
</style>
