<template>
  <button class="position-relative mw-100 d-flex area-block align-items-center justify-content-between px-3 px-lg-4 mb-2 mb-lg-3">
    <img class="area-icon" src="@/assets/icons/areaIcon.svg" />
    <div class="flex-grow-1 align-self-stretch d-flex flex-column name-block py-2 py-lg-4 mx-3 mx-lg-4">
      <p class="area-name-label mb-0 text-truncate">{{ area.name }}</p>
      <p class="rooms-list-label mb-0 text-truncate">{{ roomsList }}</p>
    </div>
    <img class="arrow" src="@/assets/icons/rightArrow.svg" />
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

import { AreaWithRoomNames } from '@/interfaces/areas/AreaWithRoomNames';

export default Vue.extend({
  name: 'AreaRow',
  props: {
    area: {
      type: Object as () => AreaWithRoomNames,
      required: true,
    },
  },
  computed: {
    roomsList(): string {
      const roomNames = this.area.rooms.length > 0
        ? this.area.rooms.map((room) => room.name).join(', ')
        : 'No rooms';
      return `Rooms (${this.area.rooms.length}): ${roomNames}`;
    },
  },
});
</script>

<style scoped lang="scss">
.area-block {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  border-style: none !important;
  color: white;
  transition: all 0.3s ease 0s;

  @media (max-width: 992px) {
    height: 70px !important;
  }
}
.area-block:active {
  transform: scale(0.95, 0.9);
  filter: brightness(0.8);
}
.area-icon {
  @media (max-width: 992px) {
    height: 40px !important;
  }
}
.name-block {
  max-width: 90%;
  justify-content: space-between;

  @media (max-width: 992px) {
    justify-content: center !important;
  }
}
.area-name-label {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  max-width: 100%;

  @media (max-width: 992px) {
    font-size: 16px !important;
  }
}
.rooms-list-label {
  font-size: 16px;
  text-align: left;
  max-width: 100%;

  @media (max-width: 992px) {
    font-size: 14px !important;
  }
}
.arrow {
  @media (max-width: 992px) {
    height: 19px !important;
  }
}
</style>
