<template>
  <div class="position-absolute w-100 h-100 mode-selector d-flex flex-column align-items-center">
    <div class="position-relative d-flex flex-column options-block mt-5 mt-lg-0">
      <close-button class="close-button" @click.native="$emit('back')" />
      <p class="area-name-title mb-4 mb-lg-1">{{ area.name }}</p>
      <p class="control-mode-selector-hint mb-2 mb-lg-4">Select a type to control your lights</p>
      <button
        class="d-flex control-mode-block align-items-center px-3 px-lg-5"
        @click="$emit('area-mode')"
      >
        <div class="flex-grow-1 align-self-stretch d-flex flex-column option-description-block py-3 py-lg-4">
          <p class="option-title mb-0">Control an area</p>
          <p class="option-description mb-0">Select scenes and apply to mulitple rooms</p>
        </div>
        <img class="option-arrow" src="@/assets/icons/rightArrow.svg" />
      </button>
      <button
        class="d-flex control-mode-block align-items-center px-3 px-lg-5"
        @click="$emit('room-mode')"
      >
        <div class="flex-grow-1 align-self-stretch d-flex flex-column option-description-block py-3 py-lg-4">
          <p class="option-title mb-0">Control a room</p>
          <p class="option-description mb-0">Access the general control for single room</p>
        </div>
        <img class="option-arrow" src="@/assets/icons/rightArrow.svg" />
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CloseButton from '@/components/buttons/CloseButton.vue';

import { AreaWithRoomNames } from '@/interfaces/areas/AreaWithRoomNames';

export default Vue.extend({
  name: 'ControlModeSelector',
  components: {
    CloseButton,
  },
  props: {
    area: {
      type: Object as () => AreaWithRoomNames,
      required: true,
    },
  },
});
</script>

<style scoped lang="scss">

.close-button {
  position: absolute;
  top: -100px;
  right: -100px;

  @media (max-width: 992px) {
    top: auto !important;
    right: auto !important;
    position: relative !important;
    align-self: flex-end !important;
  }
}
.mode-selector {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
  backdrop-filter: blur(12px);
  justify-content: center;

  @media (max-width: 992px) {
    justify-content: start !important;
  }
}
.options-block {
  width: 580px;
  color: white;
  text-align: left;

  @media (max-width: 992px) {
    width: 85% !important;
  }
}
.area-name-title {
  font-size: 36px;
  font-weight: bold;

  @media (max-width: 992px) {
    font-size: 24px !important;
  }
}
.control-mode-selector-hint {
  font-size: 16px;
}
.control-mode-block {
  margin-top: 16px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  border-style: none !important;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  @media (max-width: 992px) {
    height: 100px !important;
  }
}
.control-mode-block:active {
  transform: scale(0.95, 0.9);
  filter: brightness(0.8);
}
.option-description-block {
  justify-content: space-between;

  @media (max-width: 992px) {
    justify-content: flex-start !important;
  }
}
.option-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 16px !important;
  }
}
.option-description {
  font-size: 16px;
  text-align: left;

  @media (max-width: 992px) {
    font-size: 16px !important;
    line-height: 18px !important;
    margin-top: 7px !important;
  }
}
.option-arrow {
  @media (max-width: 992px) {
    height: 19px !important;
  }
}
</style>
