<template>
  <button class="favorite-mode-block">
    <div
      v-if="favoriteScene != undefined"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <img class="scene-image" :src="imgSrcByScene(favoriteScene)" />
      <p class="mt-1 light-mode-name text-truncate">{{ sceneName(favoriteScene) }}</p>
    </div>
    <div
      v-if="favoriteTemperature != undefined"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <custom-color-icon class="favorite-mode-button-color-icon" :color="favoriteTemperature" :isColorTemperature="true" />
      <p class="mt-1 light-mode-name text-truncate">{{ temperatureName }}</p>
    </div>
    <div
      v-if="favoriteColor != undefined"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <custom-color-icon class="favorite-mode-button-color-icon" :color="favoriteColor" :isColorTemperature="false" />
      <p class="mt-1 light-mode-name text-truncate">Color</p>
    </div>
    <div
      v-if="favoriteMomentName != undefined"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <img class="favorite-mode-moment-icon" src="@/assets/icons/backlightedScene.svg" />
      <p class="mt-1 light-mode-name text-truncate">{{ favoriteMomentName }}</p>
    </div>
    <div
      v-if="favoriteModeOff"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <p class="off-action-label pt-4">OFF</p>
    </div>
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

import CustomColorIcon from '@/components/lightModes/CustomColorIcon.vue';

import {
  FavoriteStateFields,
  FavoriteStateScene,
  FAVORITE_STATE_CUSTOM_COLOR_TYPENAME,
  FAVORITE_STATE_CUSTOM_WHITE_TYPENAME,
  FAVORITE_STATE_MOMENT_TYPENAME,
  FAVORITE_STATE_SCENE_TYPENAME,
  FAVORITE_STATE_STATUS_TYPENAME,
} from '@/graphqlRequests/fragments/FavoriteStateFragment';
import { scenes } from '@/constants/scenes';
import lightModes from '@/constants/lightModes';
import { ColorWithWhite } from '@/interfaces/lightModes/ColorWithWhite';
import { colorTemperatureToRGB } from '@/helpers/ColorCalculations';
import { normalizeTemperatureValue } from '@/helpers/ColorTemperature';
import { RoomScene } from '@/interfaces/rooms/RoomWithScenes';

export default Vue.extend({
  name: 'FavoriteModeButton',
  components: {
    CustomColorIcon,
  },
  props: {
    favoriteMode: {
      type: Object as () => FavoriteStateFields.Definition,
      required: true,
    },
    scenes: {
      type: Array as () => RoomScene[],
      default: () => [],
    },
  },
  computed: {
    favoriteScene(): FavoriteStateScene | undefined {
      if (this.favoriteMode.__typename !== FAVORITE_STATE_SCENE_TYPENAME) {
        return undefined;
      }
      return this.favoriteMode;
    },
    favoriteTemperature(): ColorWithWhite | undefined {
      if (this.favoriteMode.__typename !== FAVORITE_STATE_CUSTOM_WHITE_TYPENAME) {
        return undefined;
      }
      return colorTemperatureToRGB(this.favoriteMode.temperature);
    },
    temperatureName(): string | undefined {
      if (this.favoriteMode.__typename !== FAVORITE_STATE_CUSTOM_WHITE_TYPENAME) {
        return undefined;
      }
      const temperature = normalizeTemperatureValue(this.favoriteMode.temperature);
      return `~${temperature}K white`;
    },
    favoriteColor(): ColorWithWhite | undefined {
      if (this.favoriteMode.__typename !== FAVORITE_STATE_CUSTOM_COLOR_TYPENAME) {
        return undefined;
      }
      return {
        red: this.favoriteMode.r,
        green: this.favoriteMode.g,
        blue: this.favoriteMode.b,
        ww: this.favoriteMode.ww,
        alpha: 0.8,
      };
    },
    favoriteMomentName(): string | undefined {
      if (this.favoriteMode.__typename !== FAVORITE_STATE_MOMENT_TYPENAME) {
        return undefined;
      }
      const momentId = this.favoriteMode.momentId;
      const scene = this.scenes.find((roomScene) => roomScene.id === momentId);
      if (scene == undefined) {
        return undefined;
      }
      return scene.name;
    },
    favoriteModeOff(): boolean {
      if (this.favoriteMode.__typename !== FAVORITE_STATE_STATUS_TYPENAME) {
        return false;
      }
      return !this.favoriteMode.status;
    },
  },
  methods: {
    imgSrcByScene(scene: FavoriteStateScene): string {
      const sceneName = scenes[scene.sceneId].name;
      return lightModes[sceneName].default.image;
    },
    sceneName(scene: FavoriteStateScene): string {
      return scenes[scene.sceneId].readableName;
    },
  },
});
</script>

<style scoped>
.favorite-mode-block {
  width: 140px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0) !important;
  border-style: none !important;
  color: white;
  transition: all 0.3s ease 0s;
}
.favorite-mode-block:active {
  transform: scale(0.90, 0.9);
  filter: brightness(0.8);
}
.scene-image {
  width: 80px;
  height: 80px;
}
.light-mode-name {
  font-size: 16px;
}
.favorite-mode-button-color-icon {
  width: 80px;
  height: 80px;
}
.favorite-mode-moment-icon {
  width: 80px;
  height: 80px;
}
.off-action-label {
  width: 80px;
  height: 80px;
  font-size: 24px;
}
</style>
