<template>
  <button class="d-flex room-row-room-block align-items-center px-3 px-lg-5 mb-2 mb-lg-3">
    <div class="flex-grow-1 align-self-stretch d-flex flex-column justify-content-center py-4 pr-4">
      <p class="room-row-room-name-label mb-0 text-truncate">{{ room.name }}</p>
    </div>
    <img class="room-row-arrow" src="@/assets/icons/rightArrow.svg" />
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

import { Room } from '@/interfaces/rooms/Room';

export default Vue.extend({
  name: 'RoomRow',
  props: {
    room: {
      type: Object as () => Room,
    },
  },
});
</script>

<style scoped lang="scss">

.room-row-room-block {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  border-style: none !important;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  @media (max-width: 992px) {
    height: 70px !important;
  }
}
.room-row-room-block:active {
  transform: scale(0.95, 0.9);
  filter: brightness(0.8);
}
.room-row-room-name-label {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  max-width: 100%;

  @media (max-width: 992px) {
    font-size: 16px !important;
  }
}
.room-row-arrow {
  @media (max-width: 992px) {
    height: 19px !important;
  }
}
</style>
