<template>
  <div class="d-flex flex-column">
    <p class="room-scenes-room-name-label align-self-start">{{ room.name }}</p>
    <div
      v-if="room.roomScenes.length > 0"
      class="d-flex flex-row flex-wrap"
    >
      <room-scene
        v-for="scene in room.roomScenes"
        :key="scene.id"
        class="room-scenes-scene-block mx-0 mx-lg-2"
        :scene="scene"
        :selected="isSceneSelected(scene)"
        @click.native="$emit('scene-clicked', scene)"
      />
    </div>
    <p
      v-else
      class="room-scenes-no-scenes-label"
    >
      No scenes in the room has been created.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import RoomScene from '@/components/scenes/RoomScene.vue';

import { RoomScene as RoomSceneDefinition, RoomWithScenes } from '@/interfaces/rooms/RoomWithScenes';

export default Vue.extend({
  name: 'RoomScenes',
  components: {
    RoomScene,
  },
  props: {
    room: {
      type: Object as () => RoomWithScenes,
      required: true,
    },
    selectedSceneIds: {
      type: Array as () => string[],
      required: true,
    },
  },
  methods: {
    isSceneSelected(scene: RoomSceneDefinition) {
      return this.selectedSceneIds.includes(scene.id);
    },
  }
});
</script>

<style scoped lang="scss">

.room-scenes-room-name-label {
  font-size: 16px;

  @media (max-width: 992px) {
    font-size: 19px !important;
  }
}
.room-scenes-scene-block {
  width: 372px;
  height: 85px;
  margin-bottom: 20px;
  border-radius: 16px;

  @media (max-width: 992px) {
    width: 100% !important;
    margin-bottom: 12px !important;
  }
}
.room-scenes-scene-name {
  font-size: 24px;
  font-weight: bold;
}
.room-scenes-no-scenes-label {
  font-size: 19px;
}
</style>
