<template>
  <div class="position-relative mr-0">
    <div class="position-absolute w-100 h-100 d-flex flex-column">
      <div class="room-scene-filler room-scene-top flex-grow-1"></div>
      <div class="d-flex flex-row room-scene-center">
        <div class="d-flex flex-grow-1 room-scene-filler"></div>
        <div class="room-scene-hole position-relative">
          <svg width="40" height="40">
            <mask id="roundHoleMask">
              <rect x="0" y="0" width="40" height="40" fill="white" />
              <circle cx="20" cy="20" r="20" />
            </mask>
            <rect width="40" height="40" fill="rgba(255, 255, 255, 0.14)" mask="url(#roundHoleMask)" />
          </svg>
          <img
            v-if="selected"
            src="@/assets/icons/checkmark.svg"
            class="position-absolute room-scene-checkmark"
          />
        </div>
        <div class="room-scene-central-div-end room-scene-filler"></div>
      </div>
      <div class="room-scene-filler room-scene-bottom flex-grow-1"></div>
    </div>
    <div class="position-absolute w-100 h-100 d-flex align-items-center justify-content-start px-3">
      <img src="@/assets/icons/backlightedScene.svg" />
      <p class="m-0 ml-2 room-scene-name-label text-truncate">{{ scene.name }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import { RoomScene } from '@/interfaces/rooms/RoomWithScenes';

export default Vue.extend({
  name: 'RoomScene',
  props: {
    scene: {
      type: Object as () => RoomScene,
      required: true,
    },
    selected: {
      type: Boolean,
      required: true,
    },
  },
});
</script>

<style scoped lang="scss">

.room-scene-filler {
  background-color: rgba(255, 255, 255, 0.14);
}
.room-scene-top {
  border-radius: 16px 16px 0px 0px;
}
.room-scene-center {
  height: 40px;
}
.room-scene-hole {
  width: 40px;
}
.room-scene-checkmark {
  top: 5px;
  left: 5px;
}
.room-scene-central-div-end {
  width: 25px;
}
.room-scene-bottom {
  border-radius: 0px 0px 16px 16px;
}
.room-scene-name-label {
  max-width: 175px;
  font-size: 24px;
  font-weight: bold;

  @media (max-width: 992px) {
    max-width: 75% !important;
  }
}
</style>
