<template>
  <div
    class="position-relative d-flex flex-column scene-shortcut-block"
    @click="$emit('activate')"
  >
    <img src="@/assets/icons/backlightedScene.svg" />
    <p class="scene-shortcut-name-label text-truncate">{{ sceneShortcut.name }}</p>
    <div
      v-if="editing"
      class="scene-shortcut-remove-block d-flex align-items-center justify-content-center position-absolute"
      @click.stop="$emit('remove')"
    >
      <img src="@/assets/icons/cancel.svg" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import { SceneShortcut } from '@/interfaces/scenes/SceneShortcut';

export default Vue.extend({
  name: 'SceneShortcut',
  props: {
    sceneShortcut: {
      type: Object as () => SceneShortcut,
      required: true,
    },
    editing: {
      type: Boolean,
      default: false,
    },
  },
});
</script>

<style scoped>
.scene-shortcut-block {
  width: 100px;
  height: 120px;
}
.scene-shortcut-name-label {
  text-align: center;
  font-size: 16px;
}
.scene-shortcut-remove-block {
  width: 50px;
  height: 50px;
  top: -10px;
  right: -10px;
}
</style>
