<template>
  <div id="app" class="position-absolute w-100 h-100 overflow-auto">
    <div
      v-if="loading"
      class="spinner-block d-flex justify-content-center align-items-center"
    >
      <bulb-spinner v-if="true" />
    </div>
    <transition
      name="slide"
      mode="out-in"
      :duration="200"
      :enter-class="enterTransitionClass"
      :leave-to-class="leaveTransitionClass"
    >
      <router-view/>
    </transition>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Route } from 'vue-router';
import isEmpty from 'lodash/isEmpty';

import BulbSpinner from '@/components/spinners/BulbSpinner.vue';

export default Vue.extend({
  components: {
    BulbSpinner,
  },
  data(): {
    enterTransitionClass: string;
    leaveTransitionClass: string;
  } {
    return {
      enterTransitionClass: 'slide-initial',
      leaveTransitionClass: 'slide-initial',
    };
  },
  watch: {
    '$route'(to: Route, from: Route) {
      if (
        from.name == undefined
        || from.name === to.name
      ) {
        this.disableAnimation();
        return;
      }
      if (from.name == 'AreaSelector') {
        if (to.name == 'Start') {
          this.setReverseAnimation();
        } else {
          this.setStraightAnimation();
        }
        return;
      }
      if (from.name == 'RoomSelector') {
        if (to.name == 'AreaSelector') {
          this.setReverseAnimation();
        } else {
          this.setStraightAnimation();
        }
        return;
      }
      if (from.name == 'ScenesSelector') {
        if (to.name == 'AreaSelector') {
          this.setReverseAnimation();
        } else {
          this.setStraightAnimation();
        }
        return;
      }
      if (from.name == 'SceneShortcutName') {
        if (to.name == 'ScenesSelector') {
          this.setReverseAnimation();
        } else {
          this.setStraightAnimation();
        }
        return;
      }
      if (from.name == 'AreaControl') {
        this.setReverseAnimation();
        return;
      }
      if (to.name == 'RoomControl') {
        this.setStraightAnimation();
        return;
      }
      this.disableAnimation();
    },
  },
  computed: {
    loading(): boolean {
      return !isEmpty(this.$store.state.loadingProcesses);
    },
  },
  methods: {
    disableAnimation() {
      this.enterTransitionClass = 'slide-initial';
      this.leaveTransitionClass = 'slide-initial';
    },
    setStraightAnimation() {
      this.enterTransitionClass = 'slide-straight';
      this.leaveTransitionClass = 'slide-reverse';
    },
    setReverseAnimation() {
      this.enterTransitionClass = 'slide-reverse';
      this.leaveTransitionClass = 'slide-straight';
    },
  },
});
</script>

<style>
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

#app {
  font-family: Lato, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: linear-gradient(to bottom right, #255C9D, #77C5E7);
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.spinner-block {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
}

.slide-enter-active,
.slide-leave-active {
  transition: all .2s ease;
}
.slide-initial {
  transition: none;
}
.slide-straight {
  transform: translateX(100%);
}
.slide-reverse {
  transform: translateX(-100%);
}
</style>
